<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/main.css">
    {{!-- <link rel="stylesheet" href="/css/product.css"> --}}
    
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"> <a class="active" href="/"> Shop</a> </li>
                <li class="main-header__item" > <a href="/admin/add-product"> Add product</a> </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="grid">
            {{!-- {{# if productList.length > 0}} --}}
            {{#if isProduct }}
                {{#each productList}}
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"> {{this.title}}</h1>
                        </header>
                        <div class="card__image">
                            <img src="https://picsum.photos/200/300"/>
                        </div>
                        <div class="card__content">
                            <h2 class="product__price"> $9.99</h2>
                            <p class="product__description"> A very nice book!</p>
                        </div>
                    </article>
                {{/each}}
            {{ else }}
                <h1> No products found</h1>
            {{/if}}
        </div>
    </main>
</body>
</html>