  button {
    font:inherit;
    border: 1px solid #6200ff;
    background-color: aqua;
    border-radius: 1rem;
    cursor: pointer;

  }
  button:hover,
  button:active{
    background-color: #6200ff;
    color: white;
  }